@model IEnumerable<APS_01_2021.Models.ContactModel>
@{
    Layout = null;
}

<div class="m-intern-block l-contact-intern-box">
    <div class="m-block-title">
        Contatos
        <div class="m-block-button-group">
            <button type="button"  id="icontactcreate" onclick="openpopup()"> 
                Criar 
            </button>

            <button class="m-block-title-button m-button">Deletar</button>
        </div>
    </div>
    <div class="m-block-content l-contact-content">
    @{
        if(Model == null || !Model.Any())
        {
            <div>
                Nenhum Contato Encontrado
            </div>
        }
        else
        {
            foreach(var item in Model)
            {
                <div class="l-contacts-line @(item.IsSelected ? "select" :"") ">
                    <div class="l-contacts-ball 
                        @(item.StatusConnection == "ONLINE" ? "l-contacts-ball-online": "")
                        @(item.StatusConnection == "BUSY" ? "l-contacts-ball-busy": "")
                        @(item.StatusConnection == "ABSENT" ? "l-contacts-ball-absent": "")
                        @(item.StatusConnection == "OFFLINE" ? "l-contacts-ball-offline": "")
                    "></div>
                    @item.ContactNickName
                </div>
            }
        }
    }
    </div>
    <div id="results"></div>
</div>

<script>
    function openpopup(){
        OpenComponentPopUp('@Url.Action("Create","Contact")', '#results')
    }
    //ata-url="
</script>